<!DOCTYPE html>
<html>
  <head>
    <title>Create Post</title>
  </head>
  <body>
    <h1><%= user.username %></h1>
    <div>
      <h2>- Create New Post -</h2>
      <form method="post" action="/users/<%=user.id%>/posts">
        <input type="text" name="title" placeholder="Title"><br>
        <textarea type="text" name="body" placeholder="Body"></textarea><br>
        <input type="submit" value="Write New Post">
      </form>
    </div>
  </body>
</html>