<!DOCTYPE html>
<html>
  <head>
    <title>User Home</title>
  </head>
  <body>
    <h1>Welcome to your homepage <%= user.username %></h1>
    <div>
      <form method="get" action="/users/<%= user.id %>">
        <input type="submit" value="View your blog posts">
      </form>
      <form method="get" action="/logout">
    </div>
  </body>
</html>