<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Welcome to the crappiest blog in the world...</h1>
  <p>
    <a href="/signup">Sign up</a><br>
    <a href="/login">Login</a>
  </p>
</body>
</html>